@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --special-orange: #ff5f15;
  --special-blue: #293e9c;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}

section.top-bar {
  background-color: var(--special-blue);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

section.top-bar-left,
section.top-bar-right {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.thick-bar,
.small-bar {
  background-color: white;
  width: 1px;
  height: 30px;
}

section.top-bar-left > input[type="search"] {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 700;
}
section.top-bar-left > input[type="search"]::placeholder {
  color: white;
  font-weight: 700;
  font-size: 15px;
}
section.top-bar-left > input[type="search"]:focus {
  outline: none;
}

section.top-bar-right > p {
  color: white;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}
main header {
  display: flex;
  justify-content: space-between;
  /* width: 90%; */
  margin: 20px 0px 0px 20px;
  position: sticky;
  top: 20px;
}
main header nav {
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  column-gap: 20px;

  button {
    background-color: transparent;
    padding: 5px;
    color: white;
    border: none;
    font-weight: 700;
  }
}
main header nav a {
  color: white;
  text-decoration: none;
}

main > section.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/construction.webp);
  /* background-image: linear-gradient(#1c1c1c, orange); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

  color: white;

  section.heroTinter {
    background-image: linear-gradient(#020202ce, transparent);
    width: 100%;
    height: 700px;
  }

  section.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin-top: 150px;

    h3 {
      font-size: 24px;
      font-weight: 700;
    }
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      width: 50%;
      text-align: center;
    }
    p.dotted-line {
      letter-spacing: 5px;
      font-size: 30px;
    }

    a {
      text-decoration: none;
      button {
        background-color: var(--special-orange);
        padding: 15px 70px;
        text-align: center;
        border: none;
        position: relative;
        overflow: hidden;
        font-weight: 700;
        display: flex;
        align-items: center;
        column-gap: 10px;

        img {
          width: 30px;
          height: 30px;
        }

        div {
          z-index: 100;
          color: white;
          position: relative;
          font-size: 16px;
        }
      }
      button::before {
        content: " ";
        color: white;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        left: -100%;
        top: 0px;
        transition: all 1s ease;
      }
      button:hover::before {
        left: 0%;
      }
    }
  }
}

main > section.productSection {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 120px 20px;

  > h3 {
    color: var(--special-orange);
    font-size: 18px;
    text-align: center;
    font-weight: 700;
  }
  > h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
  }

  section.productDisplay {
    display: flex;
    column-gap: 20px;

    section.productCard {
      background-color: var(--special-blue);
      padding: 30px;
      color: white;
      position: relative;
      height: 400px;

      h4 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 24px;
      }
      p.productDescription {
        font-size: 16px;
        color: #ffffffa9;
        margin-bottom: 20px;
      }
      a {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
      }
      p.productNumbering {
        position: absolute;
        bottom: 25px;
        left: 30px;
        font-weight: 700;
        font-size: 24px;
      }
      img {
        position: absolute;
        right: 30px;
        bottom: 25px;
      }
    }
  }
}

main > section.serviceSection {
  background-image: url("images/worldMap.jpg");
  padding: 70px 30px 50px 10px;
  display: flex;
  column-gap: 20px;

  section.seviceSectionText {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    h3 {
      font-size: 18px;
      color: var(--special-orange);
    }
    h2 {
      font-size: 32px;
      font-weight: 700;
    }
    p {
      color: #808080e5;
    }
    a {
      padding: 5px;
      text-decoration: none;
      color: black;
      font-size: 18px;
      font-weight: 700;
      transition-duration: 0.5s;
      width: fit-content;
    }
    a:hover {
      color: var(--special-orange);
    }

    section.serviceCardHolder {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 20px;

      section.serviceCard {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        padding: 20px 0px;
        position: relative;

        > a {
          color: #8c8c8c;
        }
        ::after {
          content: " ";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: transparent;
          right: 10px;
          top: 10px;
          transition-duration: 0.5s;
        }
      }
      section.serviceCard:hover {
        box-shadow: 0px 10px 10px 0px #0000002d;

        ::after {
          background-color: var(--special-orange);
        }
        > a {
          color: black;
        }
      }
    }
  }
}

main > section.why-chooseSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0px;
  /* background-color: #293e9c; */

  > h3 {
    color: var(--special-orange);
    font-size: 18px;
    margin-top: 20px;
    font-weight: 700;
  }
  > h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0px 30px 0px;
  }

  section.why-chooseCardHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    section.why-chooseCard {
      display: flex;
      align-items: center;
      padding: 20px;
      column-gap: 10px;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
      text-align: left;

      div.whyCardIcon {
        background-color: white;
        border: 2px solid rgba(128, 128, 128, 0.1);
        width: 100px;
        height: 70px;
        position: relative;
        margin-right: 50px;
        transition-duration: 0.5s;

        span {
          position: absolute;
          top: -5px;
          left: -8px;
          background-color: white;
          padding: 3px;
          line-height: 16px;

          font-weight: 700;
          font-size: 20px;
          color: var(--special-orange);
        }
        div.whyIconHold {
          position: absolute;
          bottom: -30px;
          right: -30px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          /* background-color: var(--special-orange); */
          background-color: white;
          border: 2px solid rgba(128, 128, 128, 0.1);
          transition-duration: 0.5s;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    section.why-chooseCard:hover {
      div.whyCardIcon {
        border: 2px solid var(--special-orange);

        div.whyIconHold {
          border: 2px solid var(--special-orange);
          background-color: var(--special-orange);
        }
      }
    }
  }
}

main > section.ourWork {
  position: relative;

  section.ourWorkHero {
    background-image: url("images/bg-2.jpg");
    display: flex;
    flex-direction: column;
    height: 475px;
    text-align: center;
    row-gap: 30px;

    align-items: center;
    justify-content: center;

    > h3 {
      color: var(--special-orange);
      font-size: 18px;
      margin-top: 20px;
      font-weight: 700;
    }
    > h2 {
      font-size: 40px;
      font-weight: 700;
      margin: 10px 0px 30px 0px;
      color: white;
    }
  }

  section.ourWorkDetails {
    position: relative;
    top: -100px;
    height: 400px;
    width: 100%;
    background-color: transparent;

    section.ourWorkCardHolder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      /* margin: 0px 50px; */
      margin-bottom: 50px;
      /* margin-top: 80px; */
      background-color: transparent;

      section.ourWorkCard {
        display: flex;
        flex-direction: column;
        align-items: center;

        p.ourWorkNumbering {
          font-size: 24px;
          font-weight: 500;
          color: white;

          width: 45px;
          height: 45px;
          border-radius: 50%;
          border: 2px dashed white;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        div {
          padding: 15px 20px;
          border: 2px solid var(--special-orange);
          position: relative;
          background-color: white;
          margin-top: 45px;
        }
        div::before {
          content: " ";
          position: absolute;
          /* width: 40px;
        height: 40px; */
          /* background-color: white; */
          top: -30px;
          left: 25px;

          width: 0;
          height: 0;
          border-bottom: 40px solid white;
          border-left: 30px solid transparent;
          border-right: 30px solid transparent;
          /* border-top: 50px solid transparent; */
        }

        > h3 {
          margin-top: 20px;
          margin-bottom: 20px;
          color: #191919;
          width: 150px;
          text-align: center;
        }
        p.ourWorkCardDescription {
          color: #606060;
          text-align: center;
          font-size: 16px;
          margin-bottom: 20px;
        }

        a {
          text-decoration: none;
          color: #191919;
          font-weight: 700;
          font-size: 16px;
          display: flex;
          align-items: center;
          column-gap: 5px;
          /* margin-bottom: 50px; */
          transition-duration: 0.5s;
          img {
            width: 20px;
            height: 20px;
            transition-duration: 0.5s;
            transform: rotate(45deg);
          }
        }
        a:hover {
          color: var(--special-orange);
          img {
            transform: rotate(0deg);
          }
        }
      }
    }

    p.ourWorkQuote {
      text-align: center;
      font-size: 16px;
      font-weight: 600;

      span {
        color: var(--special-orange);
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

main > section.showGallery {
  height: 500px;
  /* background-color: aquamarine; */
  overflow-x: hidden;
  position: relative;

  > div {
    width: 100%;
    height: 100%;

    display: flex;
    padding-left: 50px;
    padding-top: 100px;
    position: absolute;
    z-index: 1;

    > h3 {
      font-size: 100px;
      font-weight: 700;
      /* color: white; */
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
      color: white; /* Fallback for non-WebKit browsers */
      animation: textSlightMove 10s ease 0s infinite alternate;
    }
  }

  section.showGalleryContainer {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: fit-content;
    animation: galleryMovement 40s ease-out 0s infinite alternate;

    article {
      width: 100vw;
      background-color: coral;
      background-image: url("images/construction.webp");
      background-size: cover;
      background-position: 50% 30%;
      background-repeat: no-repeat;
      height: 95%;
      position: relative;
      border: 3px solid white;

      div {
        width: clamp(300px, 30%, 400px); /* minimum, preferred, maximum */
        height: 300px;
        background-color: white;
        padding: 20px;

        position: absolute;
        right: 20px;
        bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
      }
    }
  }
}

main > section.pricingSection {
  margin-top: 100px;
  height: fit-content;
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    font-size: 18px;
    color: var(--special-orange);
    margin-bottom: 30px;
  }
  > h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }

  section.pricingPlanCardHolder {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;

    > section.pricingPlanCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: clamp(250px, 400px, 500px);
      padding: 30px 50px;
      /* row-gap: 20px; */
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
      position: relative;

      > h3.priceTitle {
        font-size: 24px;
        font-weight: 700;
        background-color: var(--special-blue);
        position: absolute;
        top: -20px;
        color: white;
        padding: 10px 20px;
      }
      > h3.priceTitle::before {
        content: " ";
        position: absolute;
        width: 0px;
        height: 0px;
        /* background-color: red; */
        top: -20px;
        left: -20px;
        border-left: 20px solid transparent;
        border-top: 20px solid transparent;
        border-bottom: 20px solid var(--special-orange);
      }
      > h3.priceTitle:after {
        content: " ";
        position: absolute;
        width: 0px;
        height: 0px;
        /* background-color: red; */
        top: -20px;
        right: -20px;
        border-right: 20px solid transparent;
        border-top: 20px solid transparent;
        border-bottom: 20px solid var(--special-orange);
      }

      > h2.priceAmount {
        font-size: 40px;
        font-weight: 700;
        margin-top: 30px;
      }

      > hr.priceLine {
        width: 5px;
        border: 1.5px dashed rgba(113, 113, 113, 0.833);
        margin: 20px 0px;
        width: 90%;
      }

      > ul.pricingPlanPoints {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        margin-top: 20px;
        /* list-style-type: "✔"; */
        list-style: none;
        padding-left: 0;

        li::before {
          content: "";
          display: inline-block;
          width: 18px; /* adjust to reduce/increase icon size */
          height: 18px;
          margin-right: 12px;
          vertical-align: middle;
          background-image: url("images/icons8-done-26.png");
          background-size: contain;
          background-repeat: no-repeat;
        }

        li {
          margin-bottom: 30px;
        }
      }
      > div {
        display: flex;
        justify-content: start;
        width: 100%;
        /* background-color: black; */

        a {
          text-decoration: none;
          color: white;
          font-weight: 700;
          font-size: 16px;
          display: flex;
          align-items: center;
          column-gap: 5px;
          /* margin-bottom: 50px; */
          transition-duration: 0.5s;

          padding: 15px 20px;
          background-color: var(--special-blue);

          img {
            width: 20px;
            height: 20px;
            transition-duration: 0.5s;
            transform: rotate(45deg);
          }
        }
        a:hover {
          color: var(--special-orange);
          img {
            transform: rotate(0deg);
          }
        }
      }
    }

    > section.middlePricingPlanCard {
      background-image: url("images/bg-2.jpg");
      color: white;

      > h3.priceTitle {
        background-color: var(--special-orange);
      }
    }
  }
}

main > section.statisticsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
  background-image: url("images/bg-2.jpg");
  margin-top: 250px;
  z-index: -2;

  ::before {
    content: " ";
    position: absolute;
    width: 100%;
    background-color: #293e9c8c;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  > h3 {
    color: var(--special-orange);
    font-size: 18px;
    margin-bottom: 30px;
  }
  > h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    /* text-wrap: balance; */
  }

  > section.statisticCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    width: clamp(200px, 250px, 300px);
    aspect-ratio: 2/1;
    padding: 30px;

    > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > h2 {
        color: var(--special-orange);
      }
    }
    > p {
      margin-top: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #2b2b2b;
      font-weight: 700;
    }
  }

  section.statCard1 {
    top: -80px;
    left: 300px;
  }
  section.statCard2 {
    top: 150px;
    left: 0px;
  }
  section.statCard3 {
    bottom: -100px;
    left: 250px;
  }
  section.statCard4 {
    bottom: -80px;
    right: 100px;
  }
  section.statCard5 {
    top: 50px;
    right: 0px;
  }
}

main > section.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  margin-top: 200px;
  padding-top: 130px;
  background-color: #eaeaeab2;

  > h3 {
    color: var(--special-orange);
    font-size: 18px;
    font-weight: 700;
  }
  > h2 {
    font-size: 40px;
    font-weight: 700;
  }

  > section.testimonialCardHolder {
    display: flex;
    width: calc(100% - 20px);
    background-color: #eaeaeab2;
    overflow-x: hidden;

    > section.testimonialInnerCardHolder {
      display: flex;
      width: fit-content;
      /* background-color: white; */
      column-gap: 20px;
      animation: testimonialMovement 10s ease 0s infinite forwards alternate;

      article.testimonialCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        padding: 45px;
        background-color: white;

        > p.testimonialDescription {
          font-size: 18px;
          color: #606060;
          margin-bottom: 20px;
          font-weight: 600;
        }

        > div.testiDecor > img {
          width: 50%;
          aspect-ratio: 1/1;
          border-radius: 50%;
          margin-bottom: 50px;
        }
        > div.testiDecor {
          position: relative;
          > div {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: var(--special-orange);
            border-radius: 50%;
            bottom: 50px;
            right: 70px;
            background-image: url("images/icons8-quote-48.png");
            background-position: 50%;
          }
        }

        > div.testimonialRating {
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 10px;
          margin-top: 30px;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}

main > section.news {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;

  > h3 {
    color: var(--special-orange);
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h2 {
      font-size: 40px;
    }
  }

  section.newsCardHolder {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 50px;

    > article.newsCard {
      width: 30%;
      position: relative;
      overflow: hidden;
      /* background-color: #8c8c8c; */

      > section.newsBackgroundSection {
        padding-bottom: 20px;
        > img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          margin-bottom: 20px;
        }
        > div {
          display: flex;
          column-gap: 20px;
          margin-bottom: 20px;
          img {
            width: 25px;
            height: 20px;
          }

          p {
            color: var(--special-orange);
          }
        }
        > h3 {
          margin-bottom: 20px;
        }
        > hr {
          margin-bottom: 20px;
          border: 2px dashed grey;
        }
        > p {
          margin-bottom: 20px;
        }
      }
      > section.newsCardMainSection {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background-image: url("images/bg-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        z-index: 1;

        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        justify-content: end;

        scale: 1.3;
        opacity: 0;
        transition-duration: 1s;
        transition-timing-function: ease-out;

        > div {
          display: flex;
          column-gap: 20px;
          color: var(--special-orange);
        }
      }
    }
    > article.newsCard:hover {
      > section.newsCardMainSection {
        scale: 1;
        opacity: 1;
      }
    }
  }
}

main > section.mapsnNewsletter {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  > section.map {
    width: 100%;
    height: 500px;
    background-color: gray;
  }
  > section.mapBoxes {
    position: absolute;
    top: 50%;
    z-index: 1;

    width: 98%;
    height: 200px;
    background-color: green;
  }
  > section.Newsletter {
    background-color: blue;
    width: 100%;
    height: 250px;
    margin-top: 30px;

    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

    > section.newsHead {
      display: flex;
      column-gap: 10px;
      > h3 {
        font-size: 20px;
        color: white;
      }
    }
    > section.newsAction {
      display: flex;
      column-gap: 1px;
      justify-content: end;
      > section.searchBar {
        width: 45svw;
        height: 70px;
        border: 0.5px solid white;
        padding: 0px 20px;

        display: flex;
        align-items: center;
        column-gap: 20px;

        > img {
          width: 20px;
          height: 20px;
        }

        > input[type="email"] {
          background: transparent;
          border: none;
          outline: none;
          color: white;
        }
        > input[type="email"]::placeholder {
          color: white;
        }
      }
      a {
        padding: 20px;
        background-color: white;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

main > section.firstFooter {
  display: flex;
  margin-top: 100px;
  padding: 0px 20px;

  h3 {
    color: black;
    margin-bottom: 20px;
    font-size: 27px;
  }
  hr {
    width: 100%;
    /* color: var(--special-orange); */
    border: 3px solid var(--special-orange);
    margin-bottom: 30px;
  }

  > section.contactUs {
    display: flex;
    flex-direction: column;
    flex: 1;

    > article {
      display: flex;
      column-gap: 10px;
      margin-bottom: 30px;

      > h4 {
        font-size: 24px;
      }
    }
    > section {
      display: flex;
      justify-content: left;
      column-gap: 15px;

      > img {
        width: 20px;
        aspect-ratio: 1/1;
      }
    }
  }
  > section.usefulLinks {
    flex: 1;

    > section.usefulLinksInner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;

      > a {
        text-decoration: none;
        color: #363636a8;
        /* font-weight: 700; */
        font-size: 1.05rem;
        transition-duration: 1s;
      }
      > a:hover {
        color: var(--special-orange);
      }
    }
  }
  > section.firstFooterGallery {
    display: flex;
    flex-direction: column;
    flex: 1;
    > section.firstFooterGalleryInner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      aspect-ratio: 2/1.25;

      > section {
        background-image: url("images/container.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        > article {
          width: 100%;
          height: 100%;
          background-color: #293e9cce;

          font-size: 22px;
          color: white;
          font-weight: 700;

          display: flex;
          justify-content: center;
          align-items: center;

          scale: 0.4;
          opacity: 0;
          transition-duration: 1s;
        }
      }
      > section:hover > article {
        scale: 1;
        opacity: 1;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--special-blue);
  color: white;
  height: 100px;
  margin-top: 100px;
  align-items: center;
  padding: 0px 30px;

  article {
    display: flex;
    column-gap: 5px;

    a {
      text-decoration: none;
    }
  }
  > article.footer1 {
    a {
      color: var(--special-orange);
    }
  }
  > article.footer2 {
    a {
      color: white;
    }
  }
}

/* For the Counter */
.counter {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.counter.visible {
  opacity: 1;
}

/* Keyframes Section */
/* For show gallery */
@keyframes textSlightMove {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(-40px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes testimonialMovement {
  0% {
    transform: translateX(0px);
  }
  12.5% {
    transform: translateX(-400px);
  }
  25% {
    transform: translateX(-400px);
  }
  37.5% {
    transform: translateX(-820px);
  }
  50% {
    transform: translateX(-820px);
  }
  62.5% {
    transform: translateX(-1240px);
  }
  75% {
    transform: translateX(-1240px);
  }
  87.5% {
    transform: translateX(-1680px);
  }
  /* 93.75% {
    transform: translateX(-1680px);
  } */
  100% {
    transform: translateX(-1680px);
  }
}

@keyframes galleryMovement {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(-400vw);
  }
}
